:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
  --blue-attribution: hsl(228, 45%, 44%);
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/static/Figtree-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  font-size: clamp(0.875rem, 1vw + 0.5rem, 1rem);
  background-color: var(--yellow);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: clamp(1rem, 5vw, 1.5rem);
  gap: clamp(1rem, 5vw, 1.5rem);
}

.card {
  background-color: var(--white);
  width: 100%;
  max-width: 24rem;
  padding: clamp(1.25rem, 5vw, 1.5rem);
  border-radius: 20px;
  border: 1px solid var(--gray-950);

  box-shadow: 8px 8px 0px 0px var(--gray-950);

  display: flex;
  flex-direction: column;
  gap: clamp(1.25rem, 5vw, 1.5rem);
}

.hero-img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.badge {
  background-color: var(--yellow);
  color: var(--gray-950);
  font-weight: 800;
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
  width: fit-content;
  font-size: 0.875rem;
}

.publish-date {
  font-size: 0.875rem;
  color: var(--gray-950);
  font-weight: 500;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

h1 a {
  text-decoration: none;
  color: var(--gray-950);
  font-weight: 800;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

h1 a:hover,
h1 a:focus {
  color: var(--yellow);
}

.description {
  color: var(--gray-500);
  line-height: 1.5;
  font-weight: 500;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-block-start: 0.75rem;
}

.author img {
  width: 2rem;
  height: 2rem;
}

.author strong {
  font-size: 0.875rem;
  font-weight: 800;
  color: var(--gray-950);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin-block-end: 0.5rem;
}
.attribution a {
  color: var(--blue-attribution);
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}
