:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/static/Figtree-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  font-size: 16px;
  background-color: var(--yellow);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 24px;
  gap: 24px;
}

.card {
  background-color: var(--white);
  width: 100%;
  max-width: 384px;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid var(--gray-950);

  box-shadow: 8px 8px 0px 0px var(--gray-950);

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero-img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.badge {
  background-color: var(--yellow);
  color: var(--gray-950);
  font-weight: 800;
  padding: 4px 12px;
  border-radius: 4px;
  width: fit-content;
  font-size: 14px;
}

.publish-date {
  font-size: 14px;
  color: var(--gray-950);
  font-weight: 500;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

h1 {
  margin: 0;
}

h1 a {
  text-decoration: none;
  color: var(--gray-950);
  font-weight: 800;
  font-size: 24px;
  transition: color 0.3s ease;
}

h1 a:hover,
h1 a:focus {
  color: var(--yellow);
}

.description {
  color: var(--gray-500);
  line-height: 1.5;
  font-weight: 500;
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
}

.author img {
  width: 32px;
  height: 32px;
}

.author strong {
  font-size: 14px;
  font-weight: 800;
  color: var(--gray-950);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
